header.top {
    background-color: #01A9DB;
    height: 70px;   
    padding: 10px;
    color: White;
    font-size: 20px;
    vertical-align: middle;
}
nav.top {
    background-color:white;
    height: 40px;   
    padding: 10px;
    color: Black;
}
a:link {
    color: Black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: burlywood;
    text-decoration: none;
}
div.p{
    vertical-align: middle;
    padding: 30 px;
}
img{
    height: 50px;
    width: 100px;
    float: left;
}