<div style="text-align:left" class="p">
    <header class="top">
      <img src="./assets/images/Dell-Logo-3D-White-PNG.png"/>
    </header>
  <hr>
  <nav> 
   <a [routerLink] = "['/xps']">XPS </a> || <a [routerLink] = "['/poweredge']">Poweredge </a>
  </nav>
  <hr>
</div>