div.panel{
    max-width: 100%;
    margin: auto;
    text-align: left;
    align-content: left;
    align-items: left;
}
.right-aligned-header > .mat-content {
    justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}