header.top {
    background-color: #01A9DB;
    height: 50px;   
    padding: 10px;
    color: White;
    font-size: 20px;
    vertical-align: middle;
}
nav.top {
    background-color:white;
    height: 40px;   
    padding: 10px;
    color: Black;
}
a:link {
    color: Black;
    text-decoration: none;
}
a:visited {
    color: Black;
    text-decoration: none;
}
a:hover {
    color: burlywood;
    text-decoration: none;
}
div.p{
    vertical-align: bottom;
    padding: 30 px;
}
.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
img{
    height: 50px;
    width: 100px;
    float: left;
}
.mat{
    text-align: left;
}
div.panel{
    max-width: 100%;
    margin: auto;
    text-align: left;
    align-content: left;
    align-items: left;
}