div.panel{
    max-width: 100%;
    margin: auto;
    text-align: center;
    align-content: center;
    align-items: center;
}
table {
    font-family: arial, sans-serif;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 8px;
}
