Search for : <input [(ngModel)] = "listFilter" placeholder = "Enter search keyword">
<div class="panel">
    
    <hr>
    
    <mat-accordion text-align="center"> 
      <mat-expansion-panel *ngFor = "let comp of itemComp" text-align="center">
        
          <mat-expansion-panel-header text-align="center">
    
          <mat-panel-title>
              {{ comp.component.id }}
          </mat-panel-title>
        <mat-panel-title>
            {{ comp.componentClassification.name }}
          </mat-panel-title>
        <mat-panel-description>
              {{ comp.component.name }}
          </mat-panel-description>
       
        </mat-expansion-panel-header>
        <mat-panel-description>
          <mat-form-field>
              <mat-select ng-style="{'width': getMaxLength() + 'px'}" placeholder="Select Components">
                <mat-option *ngFor="let com of comp.component.itemComponents" [value]="com.component.name">
                    {{ com.component.name }}<hr>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-panel-description>
          <mat-action-row>
              <button mat-raised-button>Close</button>
              <button mat-raised-button ng-click="showDetail($event)" id="{{ comp.component.id }}">Add to Favourites</button>
              </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>
  
  </div>